<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.hireme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bb"
        android:label="وظّفني "
        android:roundIcon="@mipmap/bb"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HIREME">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfileEditActivity2" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AccuontActivity.EditProfileActivity" />
        <activity android:name=".RegisterOrgActivity" />
        <activity android:name=".LoginOrgActivity" />
        <activity android:name=".activityAddPosition" />
        <activity android:name=".addCV" />
        <activity android:name=".profileCand" />
        <activity android:name=".ViewUploadsActivity"></activity>
    </application>

</manifest>